@media screen and (min-width: 500px) { 
  
}

@media screen and (min-width: 640px) {
    
    /* --- Header --- */
    h1 { font-size: 6em; }
    h2 { font-size: 3em; }
}

@media screen and (min-width: 900px) {
    
    

    /* --- Nav --- */
    #nav-container {
        padding: 1.5em;
    }

    .mobile-nav-icon { display: none; }  

    .main-nav--box { 
        background-color: transparent;
        display: flex;
        justify-content: space-between;
    }

    .main-nav { 
        padding-top: 5px;
        background-color: transparent;
        display: flex;
    }

    .main-nav li {
        margin-right: 45px;
    }

    .main-nav li:first-child,
    .main-nav li:nth-child(2) {
        border: 2px solid transparent;
        padding: 10px 5px;
    }
    .main-nav li:last-child {
        border: 2px solid var(--main-blue);
        padding: 10px;
        margin-right: 0;
    }
    .main-nav li:first-child a:hover,
    .main-nav li:nth-child(2) a:hover {
        border-bottom: 2px solid var(--main-blue);
        padding-bottom: 10px;
    }
    
    #download-link-mobile { display: none; }
    #download-link {
        display: inline-block;
        border: 1px solid var(--main-blue);
        background-color: var(--main-blue);
        text-decoration: none;
        border-radius: 5px;
        padding: 4px;
        margin: 1em;
        color: black;
    }

    #download-link:hover {
        border: 2px solid rgb(34, 69, 109);
        transition: border .3s;
    }
}

@media screen and (min-width: 1024px) {

    /* --- Header --- */
    h1 { font-size: 7em; }
    h2 { font-size: 3em; }
}

@media screen and (min-width: 1300px) {
    
    /* --- Header --- */
    h1 { font-size: 9em; }

    h2 { font-size: 4em; }
}

@media screen and (min-width: 1700px) {

}
