/* ---------------------------------------- */

/* BASIC SETUP */

/* ---------------------------------------- */

html {
    min-height: 100%;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    background: #fff;
    height: 100%;
    color: #333;
}

*:focus {
    outline: none;
}

section { padding: 80px 20px; }

/* ---------------------------------------- */

/* VARIABLES */

/* ---------------------------------------- */

:root {
    --main-blue: #4A90E2;
    --orange: #E05915;
}

/* ---------------------------------------- */

/* REUSABLE COMPONENTS */

/* ---------------------------------------- */

/* --- Heading --- */
h1 {
    font-size: 3.6em;
    line-height: 1.5em;
    letter-spacing: 5px;
    color: white;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 0 1px rgb(168, 166, 166);
    -webkit-font-smoothing: antialiased;
    margin-top: 0;
    margin-bottom: 60px;
}

h2 {
    font-size: 1.4em;
    width: 100vw;
    letter-spacing: 3px;
    color: black;
    font-family: 'Roboto', sans-serif;
    text-shadow: .4px .4px rgb(168, 166, 166);
}

h3 {
    font-size: 2.3em;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 50px;
    text-shadow: .4px .4px rgba(255,255,255,0.3)
}

h4 {
    color: var(--main-blue);
    margin-top: 20px;
    font-size: 1.5em;
}

h5 {
    color: rgb(9, 25, 43);
    margin: .5em 0 1.5em 0;
    font-size: 1.5em;
}

/* --- Span colors --- */
.point-color--blue { color: rgb(9, 25, 43); }
.point-color--dark-orange { color: rgb(172, 65, 11); }
.point-color--main-blue { color: var(--main-blue); }

/* --- Buttons --- */
.btn {
    border: 1px solid var(--main-blue);
    border-radius: 5px;
    background-color: var(--main-blue);
    cursor: pointer;
    color: black;
    padding: 4px;
    margin: 20px 20px 10px 0px;
}

.btn:hover {
    border: 1px solid #1247F7;
    background-color: #1247F7;
    transition: border .3s;
}

/* --- Icons --- */
[CLASS*='triangle'] {
    height: 18px;
    width: 24PX;
    cursor: pointer;
}

/* ---------------------------------------- */

/* HEADER */

/* ---------------------------------------- */

header {
    background-image: linear-gradient(rgba(223, 178, 149, 0.3), rgba(223, 178, 149, 0.3)), url(../assets/img/background_1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    position: relative;
    padding-top: 10px;
}

.header-text--box {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* --- Mobile Nav --- */
.nav-link--box {
    display: flex;
    justify-content: space-between;
}

.mobile-nav-icon {
    display: inline-block;
    padding: 25px 0 0 20px;
}

.mobile-nav-icon {
    height: 18px;
    width: 18px;
}

/* --- Buttons --- */
.download-link-mobile {
    display: inline-block;
    text-decoration: none;
    box-shadow: .5px .5px rgb(34, 69, 109);
}

.download-link { display: none; }

/* --- Icons --- */
.triangle--header {
    position: absolute;
    top: 95%;
    left: 45%;
    transform: translate(-95%, -45%);
    height: 25px;
    width: 40px;
    fill: var(--main-blue);
    transform: rotate(180deg);
}

.triangle--header:hover { 
    fill: #1247F7; 
    transition: fill .3s;
}
/* --- Main Nav --- */
.triangle--main-nav {
    height: 14px;
    width: auto;
    margin-left: -120px;
    display: none;
    cursor: pointer;
    fill: rgba(255,255,255,0.3);
}

.open{ display: block; }

.main-nav--box {
    background-color: rgba(255,255,255,0.3);
    transition-duration: .5s;
}

.main-nav { 
    display: none; 
    transition: all .5s ease;
    list-style: none;
}

.main-nav.open{ 
    display: block; 
    display: flex;
    justify-content: space-around;
    list-style: none; 
    padding: 13px 1em;
    text-transform: uppercase;
    font-size: 1.1em;
    text-shadow: .2px .2px #333;
}

.main-nav li a {
    text-decoration: none;
    color: black;
}

/* ---------------------------------------- */

/* ABOUT ME SECTION */

/* ---------------------------------------- */

/* --- About me --- */
.section-about {
    background-image: linear-gradient(rgba(112, 48, 107, .3), rgba(112, 48, 107, .3)), url(../assets/img/background_2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 1000px;
    width: auto;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    padding: 80px 0;
}

.about-me--container {
    background-color: white;
    padding: 80px 0;
    text-align: center;
}

.about-me h3 { font-size: 2.1em; }

.about-me--p {
    margin: 0 20px 50px 20px;
    line-height: 1.4em;
    letter-spacing: 1.1px;
}

/* --- Icons --- */
[CLASS*='icon-media'] {
    margin: 1.2em;
    height: 2.5em;
    width: 2.5em;
}

#github-outline { stroke: #FB3C03; }
#github-inline { fill: #FB3C03; }
#linkedin-outline { fill: #0077B5; }
#linkedin-inline { stroke: #0077B5; }

/* --- Skills --- */
.skills--container {
    text-align: center;
    margin: 80px 20px 0 20px;
    padding: 80px 20px;
    background-color: rgba(255,255,255,0.9);
}

.skills--logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills--logo li {
    display: flex;
    flex-direction: column;
    margin: 2.2em;
    font-size: .9em;
    text-align: center;
}

.skills--logo div {
    width: 45px;
    height: 45px;
    margin-bottom: 10px;
}

/* --- Icons --- */
[CLASS*='icon-logo'] {
    width: 40px;
    height: 50px;
}
.icon-logo--react { margin-left: 3px; }
.icon-logo--webpack { margin-left: 10px; }
.icon-logo--scss { margin-left: 8px; }
.icon-logo--material-ui { margin-left: 14px; }
.icon-logo--nodejs { margin-top: 2px; }
.icon-logo--jquery { 
    width: 55px;
    height: 65px;
    margin-top: -2px;
    margin-left: -4px;
}
.icon-logo--html {
    width: 45px;
    height: 50px;
     
}
.icon-logo--css { 
    width: 31.5px;
    height: 46px;
    margin-top: 1.1px;
}


/* ---------------------------------------- */

/* OFFER SECTION */

/* ---------------------------------------- */

.section-offer {
    background-color: rgba(76,139,166,0.5);
    margin: 80px 20px 0 20px;
    text-align: center;
}

.section-offer h3 { color: white; }

.offer--contents {
    margin-top: 60px;
    list-style: none;
}

.offer--contents li {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    margin: 2.5em;
}

.offer--contents li:last-child { margin-bottom: 0; }
.icon-offer { 
    height: 110px;
    width: 110px;
    margin: 0 0 8px 0;
}

/* ---------------------------------------- */

/* PORTFOLIO SECTION */

/* ---------------------------------------- */

.section-portfolio {
    text-align: center;
    margin-top: 4.5em;
}

.main-portfolio.reverse { 
    display: flex;
    flex-direction: row-reverse;
}

.portpolio-box { 
    max-height: 56.5em;
    padding: 2.5em 0;
    position: relative;
}

.image--web {
    width: 80vw;
    height: auto;
}

/* --- Contents --- */
.main-portfolio--contents { margin: 0 auto; }
.main-portfolio--title {
    border-top: 1px solid var(--main-blue);
    border-bottom: 1px solid var(--main-blue);
    padding: 2em 0;
    margin: 60px auto 0 auto;
}

.main-portfolio--title p { font-weight: bold; }

.main-portfolio--contents--main-text {
    margin: 2em;
    letter-spacing: .5px;
}

.main-portfolio--contents--skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 1.2em;
    letter-spacing: 1.2px;
    color: var(--orange);
    list-style: none;
}

/* --- Buttons --- */
.main-portfolio--btns { 
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.main-portfolio--btns button {
    width: 100px;
    padding: 6px;
    border-radius: 20px;
    margin: 20px 12px;
    border-width: 1.5px;
}

.live-site {
    border: 1.5px solid var(--main-blue);
    background-color: white;
}

.live-site:hover {
    background-color: white;
    border: 1.5px solid rgb(18, 71, 247);
    border-radius: 20px;
    transition: border .3s;
}

/* --- Icons --- */
.triangle--main-portfolio {
    margin: 28px 12px 12px 12px;
    fill: var(--main-blue);
}

.triangle--main-portfolio:hover { 
    fill: #1247F7;
    transition: fill .3s; 
}

.on-sub { float: right; }
.triangle--sub-portfolio { 
    margin: 15px 5px 0 0; 
    transform: rotate(180deg);
    fill: var(--orange);
}

.triangle--sub-portfolio:hover { 
    fill: #FF2E03;
    transition: fill .3s;
}

/* --- Sub-portfolio --- */
.sub-portfolio { display: none; }

.sub-portfolio p { text-align: start; }

.fade { opacity: .4; }
.sub-portfolio.open { 
    display: block; 
    position: relative;
    top: -420px;
    background: linear-gradient(to bottom right,rgba(134, 199, 226, .9), rgba(35, 118, 153, .95));
    padding: 3em 1em;
    border-radius: 5px;
    width: 90vw;
    margin: 0 auto;
}

/* ---------------------------------------- */

/* FOOTER */

/* ---------------------------------------- */

footer {
    min-height: 50px;
    text-align: center;
    padding: 15px 0;
    background-color: rgb(224, 210, 210);
    font-size: 1.1em;
    line-height: 1.4em;
}

footer a { margin-left: 6px;}